/* Current iteration */
body {
  background-color: #222;
}

.main {
  background-color: #44f;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.query {
  background-color: #EEE;
  color: #222;
  font-size: 4em;
  width: 10em;
  padding: 1em;
  margin: 1em auto;
}
.response {
  background-color: #EEE;
  color: #222;
  font-size: 1em;
  width: 10em;
  padding: 1em;
  margin: 1em auto;
}



/* Old stuff */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
